@charset "UTF-8";

/* Main */
body 
{
	font-family: verdana;
	color: #3B4D61 ;
	font-size: 7.5pt;
	background:url(./images/template/banner_bg.gif) repeat-x;
}

A:link
{
	text-decoration: underline; 
	color:#3B4D61; 
}
A:visited
{ 
	text-decoration: underline; 
	color:#3B4D61; 
}
A:active
{
	text-decoration: underline; 
	color:#3B4D61; 
}
A:hover
{ 
	text-decoration: underline; 
	color:#3B4D61; 
}

td
{
	font-family:verdana;
	color:#3B4D61;
	font-size:7.5pt;
}

/* Boxy */
.boxy-wrapper{position:absolute;}
.boxy-wrapper.fixed{position:fixed;}
.boxy-modal-blackout{position:absolute;background-color:black;left:0;top:0;}
.boxy-wrapper{empty-cells:show;}
.boxy-wrapper .top-left, .boxy-wrapper .top-right, .boxy-wrapper .bottom-right, .boxy-wrapper .bottom-left {width:10px;height:10px;padding:0;}	
.boxy-wrapper .top-left{background:url(./images/template/boxy-nw.png);}
.boxy-wrapper .top-right{background:url(./images/template/boxy-ne.png);}
.boxy-wrapper .bottom-right{background:url(./images/template/boxy-se.png);}
.boxy-wrapper .bottom-left{background:url(./images/template/boxy-sw.png);}
.boxy-wrapper .top-left{#background:none;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=./images/template/boxy-nw.png);}
.boxy-wrapper .top-right{#background:none;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=./images/template/boxy-ne.png);}
.boxy-wrapper .bottom-right{#background:none;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=./images/template/boxy-se.png);}
.boxy-wrapper .bottom-left{#background:none;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=./images/template/boxy-sw.png);}
.boxy-wrapper .top, .boxy-wrapper .bottom{height:10px;background-color:black;opacity:0.6;filter:alpha(opacity=60);padding:0}
.boxy-wrapper .left, .boxy-wrapper .right{width:10px;background-color:black;opacity:0.6;filter:alpha(opacity=60);padding:0}
.boxy-wrapper .title-bar{background-color:#3C7AE3;padding:6px;position:relative;}
.boxy-wrapper .title-bar.dragging{cursor:move;}
.boxy-wrapper .title-bar h2 {font-size:12px;color:#FFFFFF;line-height:1;margin:0;padding:0;font-weight:bold;}
.boxy-wrapper .title-bar .close{color:#FFFFFF;position:absolute;top:6px;right:6px;font-size:90%;line-height:1;}
.boxy-inner{background-color:white;padding:0;border:1px solid #7a96a2;}
.boxy-content{padding:15px;}

/* Header */
#header.header
{
	float:left;
	height:82px;
	width:100%;
	padding-top:1em;
}

#logo.header
{
	float:left;
	width:91px;
	margin:0 0 0 0;
}

#sign.header
{
	float:right;
	width:245px;
	margin:0 0 0 0;
}

#headline.header
{
	color:#FFFFFF;
	text-align:right;
	padding-top:5px;
	padding-right:2em;
	font-size:9px;
}

/* Nava */
#nava.nava
{
	text-align:center;
	padding-bottom:8px;
}

#inbox.nava
{
	background:#3366CC;
	margin:0 0 0 0;
	text-decoration:none;
	font-size:9px;
	color:#FFFFFF;
}

#admin-link.admin{color:#FF6600;font-weight:bold;}

/* Sub Nava */
.sNava{background-color:#ececec;width:75%;margin:0 auto;}
ul.sNava{padding-left:23%;}
ul.sNava li#item.sNava{float:left;padding:0 6px 0 6px;list-style:none;white-space:nowrap;overflow:hidden;}
ul.sNava li#item.sNava a{display:block;float:left;overflow:hidden;text-overflow:ellipsis;}

/* Body & Sidebar */
#bBox.body
{
	width:75%;
}

#content.body
{
	float:left;
	width:80%;
	margin:0 0 0 0;
}

#sidebar.body
{
	float:right;
	margin:0 0 0 0;
	text-align:left;
}

#oBox-goodDay.sidebar
{
	background-color:#CCE3E6;
	width:100%;
	padding:3px 0 0 0;
}

#iBox-goodDay.sidebar
{
	margin:0 3px 0 3px; 
	padding:3px 3px 3px 3px;
	background-color:#E7EDFD;
	text-align:left;
}

/* Random... */
.dummy
{
	clear:both;
}

.round
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

/* News & Home */
#news-title.news
{
	width:90%;
	margin:0 0 1em 0;
	text-align:left;
	font-weight:bold;
	font-size:13px;
}

#oBox.news
{
	background-color:#CCE3E6;
	width:90%;
	padding:3px 0 0 0;
}

#iBox.news
{
	margin:0 3px 0 3px; 
	padding:3px 3px 3px 3px;
	background-color:#E7EDFD;
}

#title.news
{
	font-weight:bold;
	font-size:12px;
	text-align:left;
}

#by.news
{
	float:left;
	font:italic;
	font-size:10px;
}

#date.news
{
	float:right;
	font-size:10px;
}

#content.news
{
	font-size:10px;
	text-align:left;
}

/* Profiles & Members */
#username.profiles
{
	font-weight:bold;
	font-size:12px;
}

#view-profile.profile
{
	text-decoration:none;
}

#edit-profile.profile
{
	text-decoration:none;
}

#view-members.members
{
	text-decoration:none;
}

/* Events */
#section-title.events
{
	text-align:center;
	font-weight:bold;
	font-size:13px;
}

#oBox.events
{
	background-color:#C7D4F4;
	width:60%;
	padding:1px 0 1px 0;
}

#iBox.events
{
	background-color:#E7EDFD;
	margin:0 1px 0 1px;
	padding:3px 3px 3px 3px;
}

#title.events
{
	font-weight:bold;
	font-size:12px;
	text-align:left;
	margin:0 0 0 0;
}

#org.events
{
	float:left;
	font:italic;
	font-size:10px;
}

#type.events
{
	float:right;
	font:italic;
	font-size:10px;
}

#sDate.events
{
	float:left;
	font-size:10px;
}

#eDate.events
{
	float:right;
	font-size:10px;
}

#details.events
{
	font-size:10px;
	text-align:left;
}

/* Date Button */
.dpDiv
{
	background-color:#CDCDCD;
	color:#003366;
}
.dpTable
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	background-color:#CDCDCD;
	border: 1px solid #AAAAAA;
}
.dpTR
{
}
.dpTitleTR
{
}
.dpDayTR
{
}
.dpTodayButtonTR
{
}
.dpTD
{
	border: 1px solid #ece9d8;
}
.dpDayHighlightTD
{
	background-color:#B5B5B5;
	border: 1px solid #AAAAAA;
}
.dpTDHover
{
	background-color: #aca998;
	border: 1px solid #888888;
	cursor: pointer;
	color:#990000;
}
.dpTitleTD
{
}
.dpButtonTD
{
}
.dpTodayButtonTD
{
}
.dpDayTD
{
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	color:#455863;
}
.dpTitleText
{
	font-size: 12px;
	color:#003366;
	font-weight: bold;
}
.dpDayHighlight
{
	color: 4060ff;
	font-weight: bold;
}
/*.dpButton
{
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	padding: 0px;
}
.dpTodayButton
{
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
}*/

/* Bank */
#neg-bal.bank
{
	color:#FF0000;
	font-weight:bold;
}

/* Mail */
#inbox-message.mail, #sent-message.mail, #new-message.mail
{
	text-decoration:none;
}

#oBox-inbox.mail
{
	width:60%;
}

#iBox-inbox.mail
{
	padding:3px 3px 3px 3px;
}

#title-inbox.mail
{
	font-weight:bold;
	font-size:12px;
	text-align:left;
}

#unread-message-inbox.mail
{
	color:#FF0000;
	font-weight:bold;
	text-transform:uppercase;
}

#important-message-inbox.mail
{
	color:#FF0000;
	font-weight:bold;
}

#from-inbox.mail
{
	float:left;
	font-size:10px;
}

#date-inbox.mail
{
	float:right;
	font-size:10px;
}

#content-inbox.mail
{
	float:left;
	font-size:10px;
}

#oBox-sent.mail
{
	width:60%;
}

#iBox-sent.mail
{
	padding:3px 3px 3px 3px;
}

#title-sent.mail
{
	font-weight:bold;
	font-size:12px;
	text-align:left;
}

#from-sent.mail
{
	float:left;
	font-size:10px;
}

#date-sent.mail
{
	float:right;
	font-size:10px;
}

#content-sent.mail
{
	float:left;
	font-size:10px;
}

#oBox-view.mail
{
	width:65%;
}

#iBox-view.mail
{
	padding:3px 3px 3px 3px;
}

#title-view.mail
{
	font-weight:bold;
	font-size:12px;
	text-align:left;
}

#from-date-view.mail
{
	float:left;
	font-size:10px;
	width:20%;
	text-align:left;
}

#content-view.mail
{
	width:80%;
	float:right;
	font-size:10px;
	text-align:left;
}

/* Badges */
#new-badge.badges
{
	text-decoration:none;
}

#unfinished-badges-title.badges
{
	font-weight:bold;
	font-size:12px;
}

#finished-badges-title.badges
{
	font-weight:bold;
	font-size:12px;
}

/* Forums */
#create-new-thread.forums
{
	width:65%;
	text-align:right;
	text-decoration:none;
}

#group-forums-title.forums
{
	width:90%;
	font-weight:bold;
	font-size:14px;
	text-align:left;
}

#create-thread-view-threads.forums
{
	width:90%;
	text-decoration:none;
	text-align:right;
}

#oBox-group-view.forums
{
	width:90%;
	height:auto;
	border:#000000 1px inset;
	background-color:#E7EDFD;
}

#iBox-group-view.forums
{
	padding:6px 3px 6px 3px;
}

#name-group-view.forums
{
	text-decoration:none;
	float:left;
	font-weight:bold;
	font-size:12px;
	text-align:left;
	width:60%;
}

#last-thread-group-view.forums
{
	text-decoration:none;
	width:40%;
	float:right;
	font-size:10px;
	text-align:right;
}

#last-thread-group-view-a.forums
{
	text-decoration:none;
	font-size:10px;
}

#oBox-view-threads.forums
{
	width:90%;
	height:auto;
	border:#000000 1px inset;
	background-color:#E7EDFD;
}

#iBox-view-threads.forums
{
	padding:6px 3px 6px 3px;
}

#title-view-threads.forums
{
	text-decoration:none;
	float:left;
	font-weight:bold;
	font-size:12px;
	text-align:left;
	width:60%;
}

#last-post-view-threads.forums
{
	text-decoration:none;
	width:40%;
	float:right;
	font-size:10px;
	text-align:right;
}

#last-post-view-threads-a.forums
{
	text-decoration:none;
	font-size:10px;
}

#thread-title-box-post-view.forums {width:65%;}

#thread-title-post-view.forums {width:65%;}
#thread-title-post-view-2.forums {width:45%;}

#thread-title-post-view.forums, #thread-title-post-view-2.forums
{
	float:left;
	font-weight:bold;
	font-size:12px;
	text-align:left;
}

#thread-remove-post-view.forums
{
	float:right;
	text-align:right;
	width:20%;
}

#post-bottom-post-view.forums
{
	float:right;
	text-align:right;
	width:65%
}

#oBox-post-view.forums
{
	width:65%;
}

#iBox-post-view.forums
{
	padding:3px 3px 3px 3px;
}

#from-date-post-view.forums
{
	float:left;
	font-size:10px;
	width:20%;
	text-align:left;
}

#content-post-view.forums
{
	width:80%;
	float:right;
	font-size:10px;
	text-align:left;
}


/* Credits */
#title.credits
{
	color:#72020c;
	font-weight:bold;
	font-size:13px;
}

/* Admin - Sorttable  */
table.sortable td{padding:4px;  border-bottom:solid 1px #DEDEDE;}
table.sortable th{padding:4px;}
table.sortable thead{background:#e3edef; color:#333333; text-align:left;}
table.sortable tfoot{font-weight:bold;}
table.sortable tfoot td{border:none;}

/* Admin - News Feed & Home */
#global-title.aNews
{
	width:60%;
	margin:0 0 1em 0;
	text-align:left;
	font-weight:bold;
	font-size:13px;
}

#oBox.aNews
{
	background-color:#CCE3E6;
	width:60%;
	padding:3px 0 0 0;
}

#iBox.aNews
{
	margin:0 3px 0 3px; 
	padding:3px 3px 3px 3px;
	background-color:#E7EDFD;
}

#title.aNews
{
	font-weight:bold;
	font-size:12px;
	text-align:left;
}

#by.aNews
{
	float:left;
	font:italic;
	font-size:10px;
}

#date.aNews
{
	float:right;
	font-size:10px;
}

#content.aNews
{
	font-size:10px;
	text-align:left;
}

/* Footer */
#oBox.footer
{
	width:75%;
	background:#ececec;
	margin:0 auto;
}

#iBox.footer
{
	padding:3px 3px 3px 3px;
	text-align:center;
	font:10px arial;
	color:#FFFFF;
	text-decoration:none;
}

.footer a, .footer a:hover
{
	text-decoration:none;
}